<div class="item item-{{color}} col-lg-4 col-md-6 col-xsm-12">
	<div class="item-inner">
		<div class="icon-holder">
			<span aria-hidden="true" class="icon fa fa-feather"></span>
		</div>
		<!--//icon-holder-->
		<h3 class="title">{{title}}</h3>
		<p class="intro">{{desc}}</p>
		<a class="link" href="{{url}}"><span></span></a>
	</div>
	<!--//item-inner-->
</div>
