/* Get FontAwesome so that we can have cool icons and stuff */
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

/* Sidebar */

.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  /* border-radius: .5rem; */
  border-top-left-radius: 0.5rem;
  background-color: #fff;
  color: #25e437;
  border: 1px solid #444;
  text-align: center;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  box-shadow: 0px 0px 5px #444;
}

.sidebar .sidebar-btn {
  /* padding: .25rem; */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 120%;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.sidebar .sidebar-btn:hover {
  background-color: #ddd;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

.sidebar span {
  font-size: 2.5rem;
}

/* Modal */

.modal {
  /* display: none; */ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-body {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Overlay Styles */

.dimmer {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.exit {
  font-size: 4em;
  color: red;
  position: absolute;
  font-weight: bold;
  top: 2px;
  left: 2px;
  opacity: 1;
  cursor: pointer;
}

/* Element Selector Styles */
.selector-dimmer {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.selector-exit {
  font-size: 4em;
  color: red;
  position: absolute;
  font-weight: bold;
  top: 2px;
  left: 2px;
  opacity: 1;
  cursor: pointer;
}
